<Attributes xmlns="urn:mace:shibboleth:2.0:attribute-map" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
   <Attribute name="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/upn" id="{{ shibboleth_remote_user|upper }}"/>
</Attributes>
